.colaborador {
    border-radius: 10px; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    display: inline-block;
    max-width: 262px;
    overflow: hidden;
}

.colaborador__cabecalho {
    background-color: #57C278;
    height: 91px;
}

.colaborador__imagem {
    border-radius: 50%;
    bottom: -2.5rem;
    height: auto;
    max-width: 120px;
    position: relative;
}

.colaborador__rodape {
    background-color: #FFFFFF;
    padding: 4.3125rem 1.875rem 1.625rem;
}

.colaborador__nome {
    color: #6278F7;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 22px;
    margin: 1.125rem 0 0.375rem 0;
}

.colaborador__cargo {
    color: #212121;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}