.rodape {
    background-color: #6278f7;
    background-image: url('/public/imagens/polygon_1.png'),
        url('/public/imagens/polygon_2.png'),
        url('/public/imagens/ellipse_2.png'),
        url('/public/imagens/ellipse_3.png');
    background-position: 29px 107px, 410px 43px, 888px 25px, 1345px 122px;
    background-repeat: no-repeat;
    background-size: 90px, 100px, 89px, auto;
    display: flex;
    justify-content: center;
    padding: 4.6875rem 5rem;
}

.rodape__caixa {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2.125rem;
    justify-content: space-between;
    max-width: 1120px;
    width: 100%;
}

.rodape__social {
    display: flex;
    gap: 2.125rem;
}

.rodape__logo {
    height: auto;
    width: 166px;
}

.rodape__creditos {
    color: #ffffff;
    font-family: var(--fonte-texto);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
    max-width: 166px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .rodape__caixa {
        justify-content: space-around;
    }
}
