.campo {
    color: #212121;
    margin-bottom: 1.5rem;
}

.campo__label {
    display: block;
    font-family: var(--fonte-texto);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 0.5rem;
}

.campo__input {
    border: none;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    width: 100%;
}

.campo__input--text {
    font-family: var(--fonte-texto);
    font-size: 1rem;
    line-height: 20px;
    padding: 1.875rem 1.375rem;
}

.campo__input--text::placeholder {
    color: #AFAFAF;
}

.campo__input--color {
    background-color: #ffffff;
    cursor: pointer;
    height: 40px;
    padding: 0.3125rem 1.375rem;
}

@media screen and (max-width: 768px) {
    .campo__input {
        padding: 1.5rem 1rem;
    }
}